/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

main {
    justify-content: center;
}

button {
    padding: 10px 20px;
    background-color: #5cb85c;
    border: none;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}